{% extends 'base.html' %}

{% block header %}
    <h1 class="title is-1">{% block title %}Math{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST">
        {{ form.csrf_token }}
        <div class="field">
            <label class="label">Select operators:</label>
            <div class="control">
                <div class="select is-multiple is-small">
                    <select name="operators" multiple size="{{ form.operators.query|length }}" style="width: 200px" ;>
                        {#                TODO: Change to switch - https://wikiki.github.io/form/switch/#}
                        {% for operator in form.operators.query %}
                            <option value="{{ operator.id }}" {% if operator in form.operators.data %}
                                    selected {% endif %}>
                                {{ operator.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>


        <div class="field">
            <label class="label">Select settings level:</label>
            <div class="control">
                <div class="select is-small">

                    <select name="settings_level" style="width: 200px;">
                        {% for level in form.settings_level.query %}
                            <option value="{{ level.id }}"
                                    {% if level.id == form.settings_level.data %}selected{% endif %}>
                                {{ level.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button type="submit" class="button is-primary">Save Settings</button>
            </div>
        </div>
    </form>

{% endblock %}