{% extends 'base.html' %}

{% block header %}
  <h1 class="title is-1">{% block title %}Math{% endblock %}</h1>
{% endblock %}

{% block content %}

<progress class="progress is-warning" value="{{ correct_answers }}" max="10">{{ correct_answers }}</progress>



    <h1 class="title">Løs opgaven</h1>


    <div class="columns">
      <div class="column">
    <p class="has-text-weight-bold">Hvad er {{ math_problem }}?</p>
    <form action="{{ url_for('math.solve_problem') }}" method="post">
        <input type="hidden" name="expression" value="{{ math_problem }}">


        <div class="field has-addons">
            <div class="control">
              <input  class="input" type="number submit" placeholder="" autofocus="autofocus" name="user_answer" required>
            </div>
            <div class="control">
              <button class="button is-info" type="submit">
                Svar
              </button>
            </div>
          </div>
    </form>

  </div>

  <div class="column">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="notification is-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
  </div>
</div>



    <script>
        // JavaScript to hide notifications after 2 seconds
        document.addEventListener('DOMContentLoaded', function () {
            var notifications = document.querySelectorAll('.notification');
            notifications.forEach(function (notification) {
                setTimeout(function () {
                    notification.style.display = 'none';
                }, 3000); // 2000 milliseconds = 2 seconds
            });
        });
    </script>

{% endblock %}